name: Deploy Frontend

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Deploy to server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          cd /root
          rm -rf rsgo-frontend
          git clone https://github.com/JumpiiX/rsgo-frontend.git
          cd rsgo-frontend
          docker stop rsgo-frontend || true
          docker rm rsgo-frontend || true
          docker-compose down || true
          docker-compose build --no-cache
          docker-compose up -d